@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  background: #343541;
}

#app {
  width: 100vw;
  height: 100vh;
  background: #343541;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.question-form {
  width: 95%;
  position: absolute;
  bottom: 20px;
  display: flex;
}

.question-form input[type="text"] {
  width: 90%;
  height: 50px;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #8e8ea0;
}

input[type="submit"] {
  height: 50px;
  border: none;
  width: 10%;
  
}

.container {
  background-color: black;
  
}
.container::-webkit-scrollbar {
  display: none;
}


.answer-area {
  background: #343541;
    min-height: 70vh;
    padding: 15px;
    color: white;
    font-family: roboto;
    white-space: pre-wrap;
}